*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
       background: #111;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    
    background-image: linear-gradient(  135deg, #7cff6a 0%, #1c2344 100%);
}
.container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    
  overflow: hidden;
    width: auto;
  
    position: relative;
}
.box{
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    animation: moveBox 10s linear infinite;
      animation-iteration-count: infinite;
    
      
}
header{
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    font-size: 2em;
    color: #333333;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px auto;
    display: block;
    border: 4px solid #000000;
    float: right;
    opacity: 0% ;
}
p{
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;  transform: scale(1);
    transition: transform 1.5s ease;
    height: 350px;
}
.box:hover .profile-pic {
    opacity: 100%;
    transition: opacity 1s ease;
}

@keyframes moveBox {
  from {
    transform: translateX(-900px);
  }
    to {
        transform: translateX(900px);
    }
}

.container:hover .box{
    animation-play-state: paused;

}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

.contacts {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}